{% include 'layout.html' %}

<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">

    <h1 class="text-body-emphasis mb-5">TaskPy</h1>
      <p class="lead text-muted">
          A simple, smart task list to help you focus on your day's routine
      </p>
    <p class="col-lg-8 mx-auto fs-5 text-muted mt-5 mb-5">
      Anything come to mind? Just use TaskPy. It will help you increase productivity, relieve memory and reduce stress by making it easier to plan your day and organise your life.
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <a href="/auth/login" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill mr-4">
        Login
      </a>
      <a href="/auth/register" class="btn btn-outline-secondary btn-lg px-4 rounded-pill mr-4">
        Register
      </a>
    </div>
  </div>
</div>